.wrapDrop{
    width: 100%;
    min-height:30px;
    border-radius: 5px;
    margin-bottom: 5px;

}
.dropItem{
  height: 30px;
  display: flex;
  justify-content: space-between;

  padding: 5px;
  align-items: center;
  cursor: pointer;

}
.dropItem:hover{
    background-color:rgba(116, 116, 116, 0.461);
}

.leftSide{
    max-width: 200px;
    display: flex;
    align-items:center;
}
.textDrop{
    color:black;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 2px;
}
.dropContent{
    margin-top: 10px;
    margin-left: 5px;
    width: 230px;
    padding: 1px;
    min-height:50px;

}

.zeroWidth{
    width: 1px;
}
