.moreMenu{
    position: absolute;
    width: 110px;
    padding: 0px;
    border:1px solid rgb(212, 212, 212);
    color:black;
    text-decoration: none;
    list-style-type: none;
    bottom:1px;
    left:  45px;
    background-color:#FFFFFF;
    z-index: 2;
    border-radius:10px;
  }
  .moreMenu > li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;

  }
  .moreMenu > li > span{
  width: 80px;
  text-align: left;

  font-size: 15px;
  }
  .moreMenu > li:hover{
    cursor: pointer;
    background-color:rgb(212, 212, 212);
    width: 100%;
    /* border-radius:10px; */
  }
.wrapEmoji{
  position: absolute;
  top:-75px;
  left: 160px;
  height: 100px;
  width: 200px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius:10px;
  border:1px solid rgb(212, 212, 212);
  z-index: 100;
}

@media screen and (max-width:679px) {
  .wrapEmoji{
    left:80px;
    top:5px;
  }
}
