.bubbleTimeWrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    /* border:1px solid red; */

  }

  .bubbleTimeText {
    font-size: 12px;
  }
