.wrapReactionMessage{
    position: relative;
    width: 67px;
    padding: 2px;
    background-color:rgb(63, 80, 228);
    border-radius:20px;
    border:1px solid black;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    flex-flow: nowrap row;
    margin-right: 10px;
    display: none;
    }
  .reactionEmoji{
      font-size:20px;
      height:20px;
      /* border:1px solid black; */
  }
  .avatarReacter{
    width: 30px;
    height: 30px;
    border-radius:50%;
    border:1px solid black;
  }
