.message {
  display: flex;
  flex-direction: wrap column;
  justify-content: start;
  align-items: flex-end;
  margin-bottom: 10px;
  position: relative;
  min-width: 750px;
  max-width: 810px;
}
.messageAvatar {
  border: 1px solid rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 20px;
  margin-right: 3px;
}

.messageBubbleText {
  position: relative;
  display: inline-block;
  max-width: 350px;
  min-height: 30px;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;
  overflow: hidden;
}
.messageBubbleText > p {
  display: block;
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

.sent .messageBubbleText {
  background-color: #a5d8ff;
  color: black;
  border-bottom-left-radius: 0px;
}

.received .messageBubbleText{
  background-color: #d3cdcd;
  border-bottom-left-radius: 0px;
  color: black;
}
.messageBubbleDocuments {
  position: relative;
  display: inline-block;
  width: 280px;
  padding: 5px;
  border-radius: 20px;
  text-align: justify;
}
.messageBubbleDocuments > .bubbleTimeWrap > .bubbleTimeText {
  margin-right: 5px;
}

.sent .messageBubbleDocuments {
  background-color: #a5d8ff;
  color: black;
  border-bottom-left-radius: 0;
}
.received .messageBubbleDocuments {
  background-color: #d3cdcd;
  border-bottom-left-radius: 0;
  color: black;
}

.messageBublePhoto {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  height: auto;
}

.messageBublePhotoCheck{
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  height: auto;
}

.bubbleTimeWrap {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.bubbleTimeWrapPhoto {
  position: absolute;
  bottom: 8px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 67px;


}
.bubbleTimeTextPhoto {
  display: block;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  font-weight: 600;
  height: 20px;
  margin-right: 10px;
  z-index: 4;
}

.bubbleTimeTextPhotoCheck {
  position: absolute;
  display: block;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  font-weight: 600;
  height: 20px;
  z-index: 10;
  bottom:10px;
  right: 10px;
}
.messageFooterClass {
  width: 20px;
}

.sent .received {
  display: flex;
  justify-content: flex-start;
}

.messageBubbleAll {
  position: relative;
  display: inline-block;
  width: 420px;
  min-width: 60px;
  text-align: justify;
  overflow: hidden;

}

.sent .messageBubbleAll.one {
  width: 310px;
}
.sent .messageBubbleAll.one img:first-child {
  border-radius: 10px 10px 0px 0px;
}
.received .messageBubbleAll.one img:first-child {
  border-radius: 10px 10px 0px 0px;
}
.received .messageBubbleAll.one {
  width: 310px;
}

.messageBubbleAll > .wrapPhoto > img {
  border-radius: 10px 10px 0px 0px;

}

.sent > .messageBubbleAll > .bubbleText {
  width: 403px;
  background-color: #a5d8ff;
  color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  padding: 5px;
  margin-top: -2px;

}
.received > .messageBubbleAll > .bubbleText {
  width: 403px;
  background-color: #d3cdcd;
  color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  padding: 5px;
  margin-top: -2px;


}

.messageBubbleAll > .wrapPhotoTwo > img:first-child {
  border-radius: 10px 0px 0px 0px;

}
.messageBubbleAll > .wrapPhotoTwo > img:nth-child(2) {
  border-radius: 0px 10px 0px 0px;
}
.messageBubbleAll > .wrapPhotoEven > img:first-child {
  border-radius: 10px 0px 0px 0px;
  margin-bottom: 5px;
}
.messageBubbleAll > .wrapPhotoEven > img:nth-child(2) {
  border-radius: 0px 10px 0px 0px;
}
.messageBubbleAll > .wrapPhotoEven > img:last-child {
  border-radius: 0px;
}
.messageBubbleAll > .wrapPhotoEven > img:nth-last-child(2) {
  border-radius: 0px;
}

.messageBubbleAll > .wrapPhotoOdd > img:nth-last-child(2) {
  border-radius: 0px;
  border: 1px solid red;
}

.messageBubbleAll > .wrapPhotoOdd > img:last-child {
  border-radius: 0px;
}
.menuWrap {
  position: relative;
}
.replyToMessageButton {
  display: none;
  border: 1px solid #ffffff;
  border-radius: 9px;
  width: 50px;
  height: 22px;
  margin-left: 5px;
  padding: 0px;
  background-color: #ffffff;
  position: relative;
}
.replyToMessageButton > i :first-child:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
  border-radius: 9px 0px 0px 9px;
}
.replyToMessageButton > i :nth-child(2):hover {
  background-color: rgb(212, 212, 212);
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.message:hover .replyToMessageButton {
  display: block;
}

.photoMessageOdd:nth-last-child(2) {
  border-radius: 0px 0px 0px 10px;
}
.photoMessageOdd:last-child {
  border-radius: 0px 0px 10px 0px;
}

.messageBubbleAll img:nth-last-child(2) {
  border-radius: 0px;
}
.messageBubbleAll img:last-child {
  border-radius: 0px;
}


@media screen and (max-width:1150px) {
  .message{
    min-width:600px ;
  }
}
@media screen and (max-width:951px) {
  .message{
    min-width:400px ;
  }
}
