.bubbleTimeWrap {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  position: relative;

}
.reactionWrap{

display: flex;
flex-direction: row;

}
.reaction{
  position: absolute;
  right: 70px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  top: -11px;
}
.bubbleTimeText {
    font-size: 12px;
  }
.isRead{
  font-size: 14px;
  color:black;
}


.timeCheckWrap{
  /* border:2px solid green; */
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 60px;
  justify-content: space-around;
  height: 20px;
  position: relative;
}
