.bubbleTimeWrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

  .bubbleTimeText {
    font-size: 12px;
  }
.isRead{
  font-size: 14px;
  color:black;
}


.timeCheckWrap{
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 60px;
  justify-content: space-around;
 height: 20px;
}