.message {
  display: flex;
  flex-direction: wrap column;
  justify-content: start;
  align-items: flex-end;
  margin-bottom: 10px;
  position: relative;
}
.messageAvatar {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 20px;
  margin-right: 3px;
}

.messageBubbleText {
  position: relative;
  display: inline-block;
  max-width: 350px;
  min-width: 60px;
  padding: 10px;
  border-radius: 20px;
  text-align: justify;
  overflow: hidden;
}

.sent .messageBubbleText {
  background-color: #390cce;
  color: #ffffff;
  border-bottom-left-radius: 0;
}
.received .messageBubbleText    {
  background-color: #d3cdcd;
  border-bottom-left-radius: 0;
  color: black;
}


.messageBubbleDocuments {
  position: relative;
  display: inline-block;
  width: 240px;
  padding: 5px;
  border-radius: 20px;
  text-align: justify;

}
.messageBubbleDocuments>  .bubbleTimeWrap > .bubbleTimeText{
  margin-right: 5px;
}
.documentHeaderWrap{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:center;
  position: relative;
  margin-bottom: 10px;

}

.documentTitleUpload{
  margin-left: 5px;
  width: 80%;

  display: flex;
  flex-direction: column;
}
.documentTitle{
font-size:14px;
width: 100%;
overflow: hidden;
cursor: pointer;
}
.documentUpload:hover{
  cursor: pointer;
  color:red;
}
.sent .messageBubbleDocuments {
  background-color: #390cce;
  color: #ffffff;
  border-bottom-left-radius: 0;
}
.received .messageBubbleDocuments{
  background-color: #d3cdcd;
  border-bottom-left-radius: 0;
  color: black;
}





.bubbleNameWrap {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 3px;
}
.bubbleNameText {
  font-size: 16px;
  font-weight: 700;
}

.bubbleTimeText {
  font-size: 12px;
}

.messageBublePhoto {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  height: auto;
}

.bubbleTimeWrap {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}
.bubbleTimeTextPhoto {
  color: white;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  font-weight: 600;
}

.sent .received {
  display: flex;
  justify-content: flex-start;
}
.wrapPhoto {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
}
.photoMessage {
  cursor: pointer;
  width: 100%;
  max-height: 100%;

  border-radius: 20px;
  background-color: transparent;
  object-fit: cover;
}
.bubbleTimeWrapPhoto {
  position: absolute;
  bottom: 8px;
  right: 15px;
  display: none;
}
.messageBublePhoto:hover > .bubbleTimeWrapPhoto {
  display: block;
}

.wrapPhotoTwo {
  position: relative;
  width: 410px;
  display: flex;
  flex-direction: row;
}
.photoMessageTwoPhoto {
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin-right: 3px;
  margin-bottom: 3px;
  object-fit: cover;
}
.photoMessageTwoPhoto:first-child {
  border-radius: 10px 0px 0px 10px;
}
.photoMessageTwoPhoto:nth-child(2) {
  border-radius: 0px 10px 10px 0px;
}
.wrapPhotoEven {
  position: relative;
  width: 410px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
}
.photoMessageEven {
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin-right: 3px;
  margin-bottom: 3px;
  object-fit: cover;
}
.photoMessageEven:first-child {
  border-radius: 10px 0px 0px 0px;
}
.photoMessageEven:nth-child(2) {
  border-radius: 0px 10px 0px 0px;
}

.photoMessageEven:nth-last-child(2) {
  border-radius: 0px 0px 0px 10px;
}
.photoMessageEven:last-child {
  border-radius: 0px 0px 10px 0px;
}

.wrapPhotoOdd {
  position: relative;
  width: 450px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}

.photoMessageOdd {
  cursor: pointer;
  margin-bottom: 3px;
  width: 200px;
  height: 200px;
  margin-right: 3px;
  margin-bottom: 3px;
  object-fit: cover;
}
.photoMessageOdd:first-child {
  border-radius: 10px 10px 0px 0px;
  width: 403px;
  height: 400px;

}
.photoMessageOdd:nth-last-child(2) {
  border-radius: 0px 0px 0px 10px;

}
.photoMessageOdd:last-child {
  border-radius: 0px 0px 10px 0px;
}
.messageBubbleAll {
  position: relative;
  display: inline-block;
  width: 420px;
  min-width: 60px;
  text-align: justify;
  overflow: hidden;
}

.sent .messageBubbleAll > .bubbleTextOne {
  width: 300px;
  background-color: #390cce;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.received .messageBubbleAll > .bubbleTextOne {
  width: 300px;
  background-color: #d3cdcd;
  color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.messageBubbleAll > .wrapPhoto > img {
  border-radius: 10px 10px 0px 0px;
}

.sent > .messageBubbleAll > .bubbleText {
  width: 403px;
  background-color: #390cce;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  padding: 5px;
  margin-top: -2px;
}
.received > .messageBubbleAll > .bubbleText {
  width: 403px;
  background-color: #d3cdcd;
  color: black;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  padding: 5px;
  margin-top: -2px;
}

.messageBubbleAll > .wrapPhotoTwo > img:first-child {
  border-radius: 10px 0px 0px 0px;
}
.messageBubbleAll > .wrapPhotoTwo > img:nth-child(2) {
  border-radius: 0px 10px 0px 0px;
}
.messageBubbleAll > .wrapPhotoEven > img:first-child {
  border-radius: 10px 0px 0px 0px;
  margin-bottom: 5px;
}
.messageBubbleAll > .wrapPhotoEven > img:nth-child(2) {
  border-radius: 0px 10px 0px 0px;
}
.messageBubbleAll > .wrapPhotoEven > img:last-child {
  border-radius: 0px;
}
.messageBubbleAll > .wrapPhotoEven > img:nth-last-child(2) {
  border-radius: 0px;
}

.messageBubbleAll > .wrapPhotoOdd > img:nth-last-child(2) {
  border-radius: 0px;
}

.messageBubbleAll > .wrapPhotoOdd > img:last-child {
  border-radius: 0px;
}
