.headerNav{
    height: 97vh;
    overflow: scroll;
}
.headerNav::-webkit-scrollbar{
    display: none;
}

.menuWrap{
display: flex;
flex-direction: row;
height: 100%;


}

.menuNav{
    width: 85px;
    height: 100%;
    border-right:1px solid rgba(0, 0, 0, 0.283);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;

}
.menuItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 99%;
}

.navItem{
    position: relative;
    height: 90%;
    overflow: scroll;
    width: 100%;
    justify-self: start;
}
.navItem::-webkit-scrollbar{
    display: none;
}

.footerWrap{
 height: 10%;
}

.navTitle{
    color: black;
    font-size: 16px;
    margin-bottom: 15px;
}
