.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  cursor: pointer;
}
.wrap::-webkit-scrollbar {
  display: none;
}

.titleText {
  padding: 5px;
  width: 80%;
  /* border:1px solid red; */
  margin-left: 5px;
}

.title {
  color: black;
  font-size: 14px;
  display: inline;
  font-weight: 600;
}

.icon {
  width: 50px;
}
.icon img {
  width: 100%;
  height: auto;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid black;
}

.headerTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 35px;
}

.headerTime {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 60px;
  margin-top: 10px;
  margin-right: 3px;
  align-items: center;
  /* border:1px solid red; */
}

.timeMessage {
  font-size: 12px;
  color: rgb(73, 73, 73);
  margin-left: 5px;
}

.textMessage {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: black;
  height: 20px;
}

.badge {
  width: 40px;
}

.bell {
  padding: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bell:hover {
  background-color: purple;
  border-radius: 5px;
}
.simpleTittle {
  margin-left: 9px;
  margin-top: -10px;
  color: black;
  font-size: 16px;
  display: inline;
  font-weight: 600;
}

.textWrap {
  display: flex;
  padding: 4px;
  /* border:1px solid red; */
  align-items: center;
  height: 36px;

  border-radius: 10px;
}
