.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  width: 100%;
  border-radius: 5px;
  overflow: auto;
  cursor: pointer;
}
.wrap::-webkit-scrollbar {
  display: none;
}

.titleText {
  padding: 5px;
  width: 80%;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  color: black;
  font-size: 14px;
  display: inline;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.icon {
  width: 50px;
  position: relative;
}
.status{
  width: 10px;
  height: 10px;
  border-radius:50%;
  background-color:rgb(11, 254, 11);
  border:1px solid #FFFFFF;
  position: absolute;
  bottom: 5px;
  right:1px;
}
.icon img {
  width: 100%;
  height: auto;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid black;
}

.simpleIcon{
  width: 55px;
  height: 55px;
  border-radius: 50%;

  background-color:rgba(128, 128, 128, 0.402);
}
.simpleWrapText{
  width: 100%;
  height: 50px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  }



.simpleTittleItem , .simpleTextItem{
  width: 50px;
  height: 10px;
  margin-left: 9px;
  margin-top: -10px;
  color: black;
  font-size: 16px;
  display: inline;
  font-weight: 600;
  /* border:1px solid black; */
  border-radius:10px;
  background-color:rgba(128, 128, 128, 0.402);
}
.simpleTextItem{
width: 80px;
}

.headerTitle {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 35px;
}

.headerTime {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 60px;
  margin-top: 10px;
  margin-right: 3px;
  align-items: center;
  /* border:1px solid red; */
}

.timeMessage {
  font-size: 12px;
  color: rgb(73, 73, 73);
  margin-left: 5px;
}

.textMessage {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: black;
  height: 20px;
}

.badge {
  width: 40px;
}

.bell {
  padding: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bell:hover {
  border-radius: 5px;
}
.simpleTittle {
  margin-left: 9px;
  margin-top: -10px;
  color: black;
  font-size: 16px;
  display: inline;
  font-weight: 600;
}

.textWrap {
  display: flex;
  padding: 4px;
  /* border:1px solid red; */
  align-items: center;
  height: 36px;

  border-radius: 10px;
}
@media screen and (max-width: 1265px) and (min-width: 768px) {
  .wrap {
    max-width: 92%;
    min-width: 70%;
    padding: 8px;
  }

  .titleText {
    font-size: 14px;
    width: 90%;
    border: none;
  }
}

@media screen and (max-width: 1153px){
  .wrap {
    width: 87%;
  }

  .titleText {
    font-size: 14px;
    width: 90%;
    border: none;
  }
}

@media screen and (max-width: 1120px){
  .wrap {
    width: 80%;
    /* height: 145px; */
    /* flex-wrap: wrap;
    justify-content: flex-start; */
  }
  .icon img {
    /* display: none; */
    width: 35px;
    height: 35px;

  }
}

@media screen and (max-width: 915px){
  .wrap {
    width: 40%;
    /* height: 145px; */
    /* flex-wrap: wrap;
    justify-content: flex-start; */
  }
  .icon img {
    /* display: none; */
    width: 100%;
    height: auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
  }
}
