.userProfileWrap{
display: flex;
flex-direction: row;
align-items:center;
justify-content: space-between;
margin-left: 10px;
position: relative;
height: 100%;

width: 100%;
}
.userProfileItems{
    width: 200px;
    height: 100%;
    display: flex;
    align-items:center;

}
.userAvatar{
    height: 60px;
    width: 60px;
    border-radius:50%;
}
.userTitle{
    position: relative;
    height: 50px;
    width: 200px;
    box-sizing:border-box;
    /* overflow: hidden; */
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start;
    margin-left: 5px;
}
.titleUserName{
    font-size: 18px;
    margin: 0;
}
.statusOnline{
    font-size: 12px;
    margin: 0;
    color:blue;
}
