.wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    overflow: auto;
    cursor: pointer;
  }
  .wrap::-webkit-scrollbar {
    display: none;
  }
  .title {
    color: black;
    font-size: 16px;
    display: inline;
    margin-left: 10px;
    font-weight: 600;
  }
  .iconText {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
  }
  .iconText img {
    width: 55px;
    height: 55px;
    border-radius: 50px;
  }
  .menuWrap {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .logOut{
    padding: 10px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logOut:hover {
    background-color: #105c9f;
    border-radius: 5px;
  }

  @media screen and (max-width:1250px) {
    .menuWrap {
      justify-content: center;
    }
    .title {
      font-size: 14px;
    }
    .logOut{
      width: 10%;
    }
}

@media screen and (max-width:1185px) {

  .menuWrap {
    justify-content: center;
  }
  .iconText {
    max-width: 60%;
    margin-right: 5px;
  }
  .title {
    font-size: 12px;
  }
}

@media screen and (max-width:1115px) {
  .menuWrap {
    justify-content: flex-start;
  }
  .iconText {
    max-width: 65%;
  }
  .logOut{
    margin-left: 5px;
  }
  .title {
    font-size: 12px;
  }
}

@media screen and (max-width:1000px) {
  .menuWrap {
    justify-content: flex-start;
  }
  .iconText {
    width: auto;
    margin-right: 5px;
   }
  .title {
    font-size: 12px;
  }
}
