.input {
  box-sizing: border-box;
  height: 40px;
  width: 350px;
  padding: 12px;
  border: 1px solid #d7d4d4;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input[disabled] {
  cursor: not-allowed;
}

.input.error {
  border-color: #d43728;
  background-color: rgba(212, 55, 40, 0.2);
}
.inputRequired {
  color: #777;
}

.inputRequired,
.inputLabel {
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}



.inputError {
  margin-top: 5px;
  color: #d43728;
  font-size: 12px;
}

.inputTask{
 width: 100%;
 height: 20px;
 border-radius:5px;
 background-color:#F8F8F8;
 border:0px;
 padding: 25px;
 color:gray;
}

.checkTask{
  width: 15px;
  margin-top: 5px;
  margin-right: 10px;
}


.taskTextContent{
  width: auto;
  min-height:50px;
}