
.elementsWrap{
    display: flex;
    flex-direction: row;
    align-items:center;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color:rgba(116, 116, 116, 0.461);
    }
}
.elementTittle{
    color:#ffffff;
    font-size: 16px;
    display: inline;
    margin-left: 10px;
    font-weight:400 ;
}
.elementsIconText{
    display: flex;
    align-items:center;
    height: 35px;
    width: 200px;
}
.elementsMenuWrap{
    width: 239px ;
    height: 36px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px;
}
.elementBadge{
    width: 40px;
}