
.func {
    cursor: pointer;
  }
  
  .func.disabled {
    cursor: not-allowed;
  }
  .buttonSize{
    width: auto;
    height: auto;
    padding: 0;
    margin-bottom:20px;
  }


  .buttonGroupSize{
    /* width: 200px; */
    padding: 0;
    margin: 0px auto; 

  }
  .iconPosition{
    margin: 0px auto;
  }
  