
.chat-area{
    width: 100%;
    border-radius:10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-header{
 color:#FFFFFF;
 height: 87%;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 border:1px solid red;
}
.chat-header-item{
  background-color: #390cce;
  height: 10%;
  border-radius:10px 10px 0px 0px;
}
.messages{
    padding:20px;
    overflow: auto;
    height: 90%;
    overflow:scroll y hidden clip ;


}

.sent{
    display: flex;
    justify-content: flex-end;
}
.received{
    display: flex;
    justify-content: flex-start;
}
.message-bubble{
    max-width: 70%;
    padding:10px;
    border-radius: 10px;
}

.sent .message-bubble{
    background-color:#390cce;
    color:#FFFFFF;
    border-bottom-right-radius:0 ;
}


.received .message-bubble{
    background-color:#eaeaea;
    border-bottom-left-radius:0 ;
    color:black;
}
